/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FONTS >>>>>>>>>>>>>>>>>>>>>>>>>> */

/*@font-face {
  font-family: 'VarelaRound-Regular';
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}*/

/* <<<<<<<<<<<<<<<<<<<<<<  TABLE OF CONTENTS  >>>>>>>>>>>>>>>>>>>> */

/* 1. CONTAINERS */
/* 2. GLOBAL STYLES */
/* 3. NAVIGATION */
/* 4. */


/* |1| <<<<<<<<<<<<<<<<<  CONTAINERS  >>>>>>>>>>>>>>>>>> */

body{
  background: rgb(10,10,10);
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  letter-spacing: .045em;
  font-family: 'Roboto', sans-serif;

}
.jumbotron{
  margin: 0;
  background: transparent;
  padding: 100px;
}
.jumbotron.visible{
  top:0;
  right:0;
  width: 75%;
  position: absolute;
  z-index: 9999999;
  background: rgb(18,18,18);
  height: 400px;
  box-shadow: 1px 1px 5px #000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


/* |2| <<<<<<<<<<<<<<<<<<<  GLOBAL STYLES  >>>>>>>>>>>>>>>>>>>> */

.center{
  width: 100%;
  margin: 0 auto;
}
.hidden{
  /*visibility: hidden;*/
  opacity: 0;
  -webkit-animation-name: closein;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  /* Standard syntax */
  animation-name: closein;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
}
.visible{
  /* Safari 4.0 - 8.0 */
  opacity: 1;
  -webkit-animation-name: open;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  /* Standard syntax */
  animation-name: open;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  /*visibility: visible;*/
}
.full-width-absolute{
  width: 100%;
  position: absolute;
  /*bottom:0;*/
}


/* |3| <<<<<<<<<<<<<<<<<<  NAVIGATION  >>>>>>>>>>>>>>>>>>>>>>>> */

nav.navbar.navbar-inverse {
  background: rgb(10,10,10);
  position: fixed;
  border-radius: 0;
  width: 100%;
  border: none;
  margin-bottom:0;
  z-index: 3;
}


/* |4| <<<<<<<<<<<<<<<<<<<<  HEADERS  >>>>>>>>>>>>>>>>>>>>>>>> */

 h2{
  color: #fff;
}
h1.page-header{
  color: #fff;
  text-transform: uppercase;
  font-size: 10em;
  border: none;
  letter-spacing: .0em;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
h2.description{
  font-size: 1.25em;
  letter-spacing: .095em;
  color: #fe5652;
  font-family: 'Oswald', sans-serif;
}

/* |5| <<<<<<<<<<<<<<<<<<<<  TEXT CONTENT  >>>>>>>>>>>>>>>>>>>>>>> */

.text-muted, #date{
  font-size: 1em;
  letter-spacing: .075em;
}
.jumbotron h4{
  color: #cecece;
}
p.instructions{
  margin-top: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-size: .65em;
  color:#fff;
}
li.read-more p{
  font-size: .75em;
  vertical-align: middle;
  text-align: center;
}
li.read-more:hover{
  color: #fe5652;

}

/* |6| <<<<<<<<<<<<<<<<<<<<  LISTS  >>>>>>>>>>>>>>>>>>>>>>>>>> */

ul.list-inline{
  padding:10px 10px 0 10px;
}
ul.list-inline a{
  color: #dbc7c7;
}
ul.list-inline li{
  color: #dbc7c7;
  padding-left: 10px;
}
ul.list-inline p{
  font-size: .95em;
}
ul.list-inline a:hover{
  color:#fe5652;
  text-decoration: none;
}
 li a{
  color: #fff;
}
li.read-more:hover{
  cursor: pointer;
}
.jumbotron.visible .list-inline{
  color: #fe5652;
}


/* |7| <<<<<<<<<<<<<<<<<<<<  IMAGE ICONS  >>>>>>>>>>>>>>>>>>>>>>>>>>> */

div.arrow-down{
  width: 0;
  height: 0;
  margin-top: 100px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;

}
a span.glyphicon-menu-down{
  margin-top: 125px;
  color:#fe5652;
  position: relative;
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
}
a span.glyphicon-new-window {
  padding-left: 10px;
}
span.glyphicon-remove{
  position: absolute;
  right: 0;
  top:0;
  padding: 20px;
}
span.glyphicon-remove:hover{
  color:rgb(255,40,13);
  cursor: pointer;
}


/* |8| <<<<<<<<<<<<<<<<<<<<<<<<<<<  IMAGE GALLERY CONTAINERS >>>>>>>>>>>>>>>>>>>>>>>>>> */

a.navbar-brand > img{
  width:50px;
  height: auto;
  font-family: 'Oswald', sans-serif;
}
.navbar-inverse .navbar-brand{
    color: #fff;
}
div.img-outer-text{
  text-align: center;
  position: relative;
  top:0px;
  font-size: .65em;
  width: 300px;
  height: auto;
  padding: 20px;
  /*background: rgb(18,18,18);*/
  box-shadow: 1px 1px 5px #000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  letter-spacing: .085em;
  text-transform: uppercase;
}
div.img-outer-text span.divider{
  border-right: 2px solid #dbc7c7;
  margin: 0 10px 0 10px;
}
div.img-container {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 0 0 0;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.img-title-description{
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  z-index: 1;
}
div.img-container .img-title-description p{
  font-size: 1em;
}
div.img-container:hover .img-title-description{
  display: block;
  cursor: pointer;
}
.img-title-description{
  padding: 70px 30px 100px 30px;
}
.img-container > .img-title-description:hover {
  background-color:rgba(255,40,13,.7);
}
div.img-container .text:hover{
  visibility: visible;
}
img.img-responsive{
  margin: 0;
  padding: 0;
  z-index: 1;
  min-width: 160%;
  height: auto;
}


/* |9| <<<<<<<<<<<<<<<<<<<<<<<<<<<  ANIMATIONS  >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes open {
  0%   {opacity: 0; }
  25%  {opacity: .25;}
  50%  {opacity: .50;}
  75%  {opacity: .75;}
  100% {opacity: 1;}
}
/* Standard syntax */
@keyframes open {
  0%   {opacity: 0; }
  25%  {opacity: .25;}
  50%  {opacity: .50;}
  75%  {opacity: .75;}
  100% {opacity: 1;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes closein {
  0%   {opacity: 1; }
  25%  {opacity: .75;}
  50%  {opacity: .50;}
  75%  {opacity: .25;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes closein {
  0%   {opacity: 1; }
  25%  {opacity: .75;}
  50%  {opacity: .50;}
  75%  {opacity: .25;}
  100% {opacity: 0;}
}


/* |10| <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  FOOTER  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

footer.footer{
  text-align: center;
  width: 100%;
  margin: 20px auto;
  font-size: .65em;
}
footer.footer ul.list-inline li.text-muted{
  color: #777;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  MEDIA QUERRIES  >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media only screen and (max-width: 640px) {


  /* |1| <<<<<<<<<<<<<<<<<  CONTAINERS  >>>>>>>>>>>>>>>>>> */

  body{
    font-size: 2em;
  }
  .jumbotron.visible{
    width: 100%;
    height: 900px;
    position: absolute;
    bottom:0;
    right:0;
  }
  /* Fill the whole screen */
  div.col-lg-3.col-md-4.col-xs-6 {
    width: 100%;
    display: block;
  }
  /* Make all children centered */
  div.col-lg-3.col-md-4.col-xs-6 * {
    margin: 0 auto;
  }
  div.col-lg-3.col-md-4.col-xs-6{
    margin-bottom: 20px;
  }
  .jumbotron{
    padding: 10px;
  }


  /* |5| <<<<<<<<<<<<<<<<<<<<  TEXT CONTENT  >>>>>>>>>>>>>>>>>> */

  body{
    margin:0;
    overflow-x: visible;
  }
  .jumbotron h1.page-header{
    font-size: 3em;
    margin-left:0;
    margin-right: 0;
    text-align: center;
  }
  .jumbotron.visible ul.list-inline h4{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 1em;
  }
  h2.description{
    font-size: 1em;
    width:75%;
    margin: 0 auto;
  }
  a.navbar-brand{
    font-size: .65em;
  }
  span.img-title-description h2,   span.img-title-description p{
    padding-top:10px;
  }
  div.img-outer-text {
    width: 80%;
    font-size: .85em;
  }
  ul.list-inline p{
    font-size: .75em;
  }


  /* |8| <<<<<<<<<<<<<<<<<<<<  IMAGE GALLERY CONTAINERS >>>>>>>>>>>>>>>> */

  div.img-outer-text, img.img-responsive{
    display: block;
  }
  div.img-outer-text .list-inline{
    padding: 10px;
    font-size: .85em;
  }
  div.col-lg-3.col-md-4.col-xs-6 {
    width:100%;
    padding:0;
    height: 80%;
  }
  div.img-container{
    width:80%;
    padding:0;
    height: 80%;
  }
  div.img-container span.img-title-description {
    position: absolute;
    width: 80%;
    height: 82%;
    /* padding: 20px; */
    margin: 0;
    font-size: .75em;
  }
  div.jumbotron.visible{
    position:fixed;
  }


  /* |10| <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  FOOTER  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  footer.footer{
    font-size: .50em;
  }
}
