/*,<<<<<<<<<<<<<<<<<<<<<<  TABLE OF CONTENTS  >>>>>>>>>>>>>>>>>>>> */

/* 1. CONTAINERS */
/* 2. GLOBAL STYLES */
/* 3. NAVIGATION */
/* 4. */


/* |1| <<<<<<<<<<<<<<<<<  CONTAINERS  >>>>>>>>>>>>>>>>>> */

body{
  background: rgb(10,10,10);
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  letter-spacing: .05em;
}
.jumbotron{
  margin: 0;
  background: transparent;
  padding: 100px;
}
.jumbotron.visible{
  position: absolute;
  top:0;
  right:0;
  width: 75%;
  position: absolute;
  z-index: 9999999;
  background: rgb(18,18,18);
  height: 400px;
  box-shadow: 1px 1px 5px #000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


/* |2| <<<<<<<<<<<<<<<<<<<  GLOBAL STYLES  >>>>>>>>>>>>>>>>>>>> */

.center{
  width: 100%;
  margin: 0 auto;
}
.hidden{
  /*visibility: hidden;*/
  opacity: 0;
  -webkit-animation-name: closein;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  /* Standard syntax */
  animation-name: closein;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
}
.visible{
  /* Safari 4.0 - 8.0 */
  opacity: 1;
  -webkit-animation-name: open;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  /* Standard syntax */
  animation-name: open;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  /*visibility: visible;*/
}
.full-width-absolute{
  width: 100%;
  position: absolute;
  /*bottom:0;*/
}


/* |3| <<<<<<<<<<<<<<<<<<  NAVIGATION  >>>>>>>>>>>>>>>>>>>>>>>> */

nav.navbar.navbar-inverse {
  background: transparent;
  border-radius: 0;
  border: none;
  margin-bottom:0;
}


/* |4| <<<<<<<<<<<<<<<<<<<<  HEADERS  >>>>>>>>>>>>>>>>>>>>>>>> */

 h1, h2{
  color: #fff;
}
h1.page-header{
  text-transform: uppercase;
  font-size: 10em;
  border: none;
}
h2.description{
  text-transform: uppercase;
  font-size: 1.25em;
}

/* |5| <<<<<<<<<<<<<<<<<<<<  TEXT CONTENT  >>>>>>>>>>>>>>>>>>>>>>> */

h1, h2, h3{
  text-transform: uppercase;
}
.jumbotron h1{
  color: #fff;
}
.jumbotron h4{
  color: #cecece;
}
p.instructions{
  width: 300px;
  height:auto;
  margin-top: 100px;
  margin: 0 auto;
  font-size: .75em;
  display: block;
  color:#fff;
}
li.read-more p{
  font-size: .85em;
  vertical-align: middle;
  text-align: center;
}
li.read-more:hover{
  color: #fe5652;

}

/* |6| <<<<<<<<<<<<<<<<<<<<  LISTS  >>>>>>>>>>>>>>>>>>>>>>>>>> */

ul.list-inline{
  padding:10px 10px 0 10px;
}
ul.list-inline a{
  color: #777;
}
ul.list-inline li{
  color: #777;
}
ul.list-inline p{
  font-size: .95em;
}
ul.list-inline a:hover{
  /*color: rgba(255,40,13,1);*/
  color:#fe5652;
  text-decoration: none;
}
 li a{
  color: #fff;
}
li.read-more:hover{
  cursor: pointer;
}
.jumbotron.visible .list-inline{
  color: #fe5652;
}


/* |7| <<<<<<<<<<<<<<<<<<<<  IMAGE ICONS  >>>>>>>>>>>>>>>>>>>>>>>>>>> */

div.arrow-down{
  width: 0;
  height: 0;
  margin-top: 100px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;

}
a span.glyphicon-menu-down{
  margin-top: 125px;
  color:#fe5652;
  position: relative;
  -webkit-animation: bounce 1s infinite alternate;
  animation: bounce 1s infinite alternate;
}
a span.glyphicon-new-window {
  margin-left: 10px;
}
span.glyphicon-remove{
  position: absolute;
  right: 0;
  top:0;
  padding: 20px;
}
span.glyphicon-remove:hover{
  color:rgb(255,40,13);
  cursor: pointer;
}


/* |8| <<<<<<<<<<<<<<<<<<<<<<<<<<<  IMAGE GALLERY CONTAINERS >>>>>>>>>>>>>>>>>>>>>>>>>> */

a.navbar-brand > img{
  width:50px;
  height: auto;
}
div.img-outer-text{
  text-align: center;
  position: relative;
  top:0px;
  font-size: .75em;
  width: 300px;
  height: auto;
  padding: 10px;
  background: rgb(18,18,18);
  box-shadow: 1px 1px 5px #000;
  color: #777;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
div.img-outer-text span.divider{
  border-right: 2px solid #777;
  margin: 0 10px 0 10px;
}
div.img-container {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px 0 0 0;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.img-title-description{
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  z-index: 1;
}
div.img-container .img-title-description p{
  font-size: 1em;
}
div.img-container:hover .img-title-description{
  display: block;
  cursor: pointer;
}
.img-title-description{
  padding: 70px 30px 100px 30px;
}
.img-title-description:hover {
  background:rgba(255,40,13,.7);
}
div.img-container .text:hover{
  visibility: visible;
}
img.img-responsive{
  margin: 0;
  padding: 0;
  z-index: 1;
  min-width: 140%;
  min-height: 100%
}


/* |9| <<<<<<<<<<<<<<<<<<<<<<<<<<<  ANIMATIONS  >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes open {
  0%   {opacity: 0; }
  25%  {opacity: .25;}
  50%  {opacity: .50;}
  75%  {opacity: .75;}
  100% {opacity: 1;}
}
/* Standard syntax */
@keyframes open {
  0%   {opacity: 0; }
  25%  {opacity: .25;}
  50%  {opacity: .50;}
  75%  {opacity: .75;}
  100% {opacity: 1;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes closein {
  0%   {opacity: 1; }
  25%  {opacity: .75;}
  50%  {opacity: .50;}
  75%  {opacity: .25;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes closein {
  0%   {opacity: 1; }
  25%  {opacity: .75;}
  50%  {opacity: .50;}
  75%  {opacity: .25;}
  100% {opacity: 0;}
}
/* |10| <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  FOOTER  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

footer.footer{
  text-align: center;
  width: 100%;
  margin: 20px auto;
  font-size: .65em;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  MEDIA QUERRIES  >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media only screen and (max-width: 640px) {


  /* |1| <<<<<<<<<<<<<<<<<  CONTAINERS  >>>>>>>>>>>>>>>>>> */
  .jumbotron.visible{
    width: 100%;
    height: 900px;
    position: absolute;
    bottom:0;
    right:0;
  }
  /* Fill the whole screen */
  div.col-lg-3.col-md-4.col-xs-6 {
    width: 100%;
    display: block;
  }
  /* Make all children centered */
  div.col-lg-3.col-md-4.col-xs-6 * {
    margin: 0 auto;
  }
  div.col-lg-3.col-md-4.col-xs-6{
    margin-bottom: 20px;
  }


  /* |8| <<<<<<<<<<<<<<<<<<<<<<<<<<<  IMAGE GALLERY CONTAINERS >>>>>>>>>>>>>>>>>>>>>>>>>> */

  div.img-outer-text, img.img-responsive{
    display: block;
  }

}
